
.manage-appointments {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.manage-appointments h2 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
}

.manage-appointments h3 {
  text-align: left;
  color: #333;
  margin: auto;
  padding-top: 15px;
  font-size: 24px;
  font-weight: bold;
}

.calendar-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  width: 100%;
}

.react-calendar {
  width: 100% !important;
  max-width: 800px;
  background-color: rgba(233, 233, 233, 0.055) !important;
  box-shadow: var(--bs);
  padding: 25px;
  margin: 20px 70px 40px;
  border: none !important;
  border-radius: 10px;
}

.react-calendar button {
  outline: none;
  color: black;
}

.react-calendar__tile--now {
  background-color: #f5e31d !important;
}

.react-calendar__tile--active {
  font-weight: bold !important;
  color: black !important;
}

.react-calendar__tile--hasActive:hover {
  font-weight: bold;
  color: black !important;
}

.react-calendar__month-view__days__day--weekend {
  color: #d10000 !important;
}

.react-calendar__month-view__days__day--neighboringMonth,
.react-calendar__decade-view__years__year--neighboringDecade,
.react-calendar__century-view__decades__decade--neighboringCentury {
  color: #757575 !important;
  opacity: 0.4;
}

.appointments-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  justify-items: center;
  width: 100%;
}

@media (max-width: 1200px) {
  .appointments-container {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}

@media (max-width: 800px) {
  .appointments-container {
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  }
}

.appointment-card {
  background-color: rgba(233, 233, 233, 0.055) !important;
  position: relative;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 300px;
  padding: 20px;
  transition: transform 0.3s ease;
  color: black;
}

.appointment-card.past-appointment {
  opacity: 0.4;
  background-color: #d3d3d3;
}

.unavailable-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
  color: #ff0808;
  font-weight: bold;
  pointer-events: none;
  z-index: 10;
}

.info-button {
  background-color: #21c512;
  color: #ffffff;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  cursor: pointer;
  position: relative;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-button:hover {
  background-color: #21c5128c;
}

.appointment-card:hover {
  transform: translateY(-5px);
}

.patient-photo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  display: block;
  margin: 0 auto 10px auto;
}

.appointment-details p {
  margin: 10px 0;
  color: #555;
  line-height: 1.5;
}

.appointment-details p strong {
  color: #333;
}

.appointment-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.no-appointments {
  text-align: center;
  font-size: 1.5rem;
  color: #888;
  padding: 20px;
}

.delete-button {
  background-color: #dc3545;
  color: white;
  width: 80%;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  margin-left: 10px;
  margin-right: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.edit-button {
  background-color: #2799e4;
  color: white;
  width: 80%;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  margin-left: 15px;
  margin-right: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.delete-button:hover {
  background-color: #c82333;
}

.edit-button:hover {
  background-color: #1278bc;
}

.button-disabled, .button-disabled:hover {
  background-color: #e0e0e0;
  color: #a0a0a0;
  cursor: not-allowed;
  border: 1px solid #d0d0d0;
}


