.form-container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-container input,
.form-container textarea,
.form-container select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.form-container button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.form-container button:hover {
  background-color: #0056b3;
}

.radio-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}


.form-container .label-container {
  display: block;
  margin: 2px auto 1px auto;
  color: black;
}

.form-container label.option-role {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 16px;
  margin-bottom: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px 15px;
  background-color: #fff;
  transition: background-color 0.3s ease;
  cursor: pointer;
  width: 48%;
  color: black;
}

.form-container label.option-role:hover {
  background-color: #f0f0f0;
}

.form-container label.option-role input {
  display: none;
}

.form-container .form-group {
  color: black;
}

.form-container .form-group label {
  font-size: 16px;
  margin-bottom: 8px;
  display: block;
  color: black;
}

.form-container .form-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  color: black;
}

.form-container .form-group .react-select-container {
  width: 100%;
  
}

.form-container .form-group .react-select__control {
  border: 1px solid #ccc;
  border-radius: 4px;
  
}

.form-container .form-group .react-select__control--is-focused {
  border-color: #007bff;
  box-shadow: 0 0 0 1px #007bff;
}

.form-container .form-group .react-select__single-value {
  font-size: 16px;
}

.form-container .form-group .react-select__menu {
  font-size: 16px;
}

.form-container .patient-form {
  margin-bottom: 15px;
  color: black;
}

.custom-select__control {
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 5px;
  font-size: 16px;
  margin-bottom: 20px;
  box-shadow: none;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.custom-select__control--is-focused {
  border-color: #5a67d8;
  box-shadow: 0 0 8px rgba(90, 103, 216, 0.4);
}

.custom-select__option {
  padding: 10px;
  background-color: #fff;
  color: #333;
}

.custom-select__option--is-focused {
  background-color: #f0f0f5;
}

.custom-select__option--is-selected {
  background-color: #5a67d8;
  color: #fff;
}

.custom-select__menu {
  border-radius: 6px;
  box-shadow: var(--bs);
}

.custom-select__placeholder {
  color: #aaa;
}

.custom-select__single-value {
  color: #333;
}