.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  padding: 20px;
  box-sizing: border-box;
}

.modal-content {
  background: #ffffff;
  padding: 30px;
  border-radius: 12px;
  width: 100%;
  max-width: 600px;
  max-height: 80vh;
  overflow-y: auto !important;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  position: relative;
}

.modal-history-close-button {
  background-color: transparent;
  color: #7c7c7c;
  border: none;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  cursor: pointer;
  position: absolute;
  top: 15px;
  right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-history-close-button:hover {
  background-color: rgba(220, 220, 220, 0.7);
}

.appointments-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.appointment-item {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ddd;
}

.appointment-item:last-child {
  border-bottom: none;
}

.appointment-item strong {
  display: inline-block;
  font-size: 1.0em;
  color: #333;
}

.appointment-item a {
  font-size: 1.2em;
  color: #2f75dd;
}

.appointment-item p {
  margin: 5px 0;
  color: #555;
}


@media (max-width: 768px) {
  .modal-content {
      padding: 20px;
      width: 90%;
  }
  
  .modal-history-close-button {
      width: 30px;
      height: 30px;
  }
}

@media (max-width: 480px) {
  .modal-content {
      padding: 15px;
  }
  
  .appointment-item strong {
      font-size: 1em;
  }
}
