.patients-list-container {
    padding: 25px;
    font-size: 14px;
    margin: 0 auto 80px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: var(--bs);
    width: 95vw;
    box-sizing: border-box;
  }
  
  .patients-list-title {
    font-weight: bold;
    text-align: center;
    margin: 50px auto 30px auto;
    color: #333;
  }
  
  .patients-list-table {
    width: 100%;
    border-collapse: collapse;
    border: none;
  }
  
  .patients-list-header {
    background-color: #007bff;
    color: #fff;
  }
  
  .patients-list-header th {
    padding: 10px;
    text-align: left;
    border-bottom: 2px solid #0056b3;
  }
  
  .patients-list-row {
    background-color: #fff;
  }
  
  .patients-list-row:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .patients-list-row td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }

  @media (max-width: 1190px){
    .patients-list-container {
      padding: 20px;
      font-size: 12px;
      margin: 0 auto;
      background-color: #f9f9f9;
      border-radius: 8px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      width: 90vw;
      box-sizing: border-box;
      overflow-x: scroll !important;
    }

  }