@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap");

:root {
  font-family: "Montserrat", sans-serif;
  line-height: 1.4;
  font-weight: 400;
  font-size: 70%;


  --clr-main: #007bff;
  --clr-btn-navbar: rgb(255, 255, 255);
  --clr-hover-text: rgba(18, 136, 254, 0.727);

  --ts: .2s;
  --br: 5px;
  --bs: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

* {
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  scrollbar-width: thin; 
  scrollbar-color: var(--clr-main) #fefefe00;
}

body {
  background-color: white;
  font-size: 1.6rem;
  height: 100vh;
  margin: 0;
  overflow-x: hidden;  /* Barra de desplazamiento lateral ocultar */
}

h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 2.8rem;
}

input {
  font-size: 20px;
}

img {
  width: 100%;
  height: 100%;
}

button {
  border: none;
  border-radius: 4px;
  padding: 10px;
  cursor: pointer;
  background-color: #007bff;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
  background-color: #0056b3;
}


